---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Lorem ipsum</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Ducimus eius perferendis deleniti reprehenderit aliquid? Tenetur
				dolorum nobis nesciunt officia, pariatur temporibus rem aperiam.
				Facilis reprehenderit, tenetur cupiditate eos illum quibusdam.
			</p>
		</main>
		<Footer />
	</body><style>
		body {
			background-color: #181818;
		}
		main {
			color: #fff;
		}
	</style>
</html>
